@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');

body {
font-family: 'Roboto', sans-serif;
color: whitesmoke;
background-color: #111;
font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
}

li a {
  transition-duration: 0.4s;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #808080;
}
h1 {
    text-align: center;
}
h2 {
  text-align: center;
}

footer {
  text-align: center;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0px;

}
a:link {
  color: gainsboro;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: gainsboro;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: gainsboro;
  background-color: transparent;
  text-decoration: underline;
}
a:active{
  color: gainsboro;
  background-color: transparent;
  text-decoration: underline;
}

.active {
  background-color: #808080;
}

.center {
    text-align: center;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
    margin-top: 7cm;
    text-align: center;
    font-size: 72px;
    font-weight: 400;
}
.subwelcome {
    text-align: center;
    font-size: 22px;
    font-weight: 100;
}

.button {
  background-color: transparent;
  border: none;
  color: transparent;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  color: transparent;
  color: white;
  border: 2px solid wheat;
}
.table {
  color: transparent;
  color: white;
  border: 2px solid gray;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.button1:hover {
  background-color: wheat;
  color: black;
}
.table:hover {
  background-color: gray;
  color: black;
}
.sicons:hover {
  background-color: transparent;
  color: gray;
}
.arrowtext {
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}
.fading {
  animation:fading 3s infinite
}
@keyframes fading{
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}
}




